.item {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 150px;
    padding: 8px 15px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    transition: transform 250ms ubic-bezier(0.4, 0, 0.2, 1);
  }
  .status {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .online {
    composes: status;
   background-color: green;
  }
  
  .ofline {
    composes: status;
    background-color: red;
  }